@model WebsiteProject.Models.Product

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<fieldset>
    <legend>Item</legend>

    <div >
        
       Id:  @Model.Id
    </div>
    
    <div >
        Name : @Model.name
    </div>
    

    <div >
        Type : @Model.type
    </div>

    <div >
        Price : @Model.price
    </div>
   
</fieldset>
<p>
    @Html.ActionLink("Edit", "updateItem", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
