@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Forget Password";
    List<SelectListItem> quests = new List<SelectListItem>();
    quests.Add(new SelectListItem { Text = "What's your favorite food?", Value = "What's your favorite food?" });
    quests.Add(new SelectListItem { Text = "What's your favorite color?", Value = "What's your favorite color?" });
    quests.Add(new SelectListItem { Text = "Whose your favorite sportsman?", Value = "Whose your favorite sportsman?" });
    quests.Add(new SelectListItem { Text = "Who was your 3rd grade fiend?", Value = "Who was your 3rd grade fiend?" });

}
@model WebsiteProject.Models.User

<script>
    $(document).ready(function () {
        $("#email").change(function () {

            var email = $('#email').val();
                @*alert("The text has been changed.");*@
            $.getJSON("/home/CheckUser?email=" + email, function (data) {

                if (data) {
                    $('#result').text("Valid user");
                }
                else {
                    $('#result').text("User doesn't exist");
                }
            });
        });
    });
</script>

    <!-- header-section-ends -->
	<!-- content-section-starts -->
	<div class="content">
	<div class="main">
	   <div class="container">
            @using (Html.BeginForm("forgotPassword", "Home", FormMethod.Post, new { enctype = "multipart/form-data"})) 
       {
		  <div class="register">
		  	 
				 <div class="register-top-grid">
					<h3>Forget Password</h3>
					 
					 
					 <div class="wow fadeInRight" data-wow-delay="0.4s">
						 <span>@Html.Label("Email Address")<label>*</label></span>
						 @Html.TextBoxFor(model => model.email, null, new {   required="required", type="email", id="email"  }) 
                         @Html.ValidationMessageFor(model => model.email)
                         <p id="result" style="color:red;"></p>
                     </div>
                     
					 <div class="wow fadeInLeft" data-wow-delay="0.4s">
					   <span>@Html.Label("Secret Question")<label>*</label></span>
						 @Html.DropDownListFor(model => model.question, quests)
					 </div>
                    <div class="wow fadeInRight" data-wow-delay="0.4s">
					   <span>@Html.Label("Answer")<label>*</label></span>
						 @Html.TextBoxFor(model => model.answer, null, new {   required="required", type="text"  })
                         @Html.ValidationMessageFor(model => model.answer)
					 </div>
                    
                     <div class="clearfix"></div>
				     <div class="register-bottom-grid">
						    
							 
					 </div>
				
				<div class="clearfix"> </div>
				<div class="register-but">
				   
					   <input type="submit" value="Submit">
                    
					   <div class="clearfix"> </div>
				   
                    </div>
            
				</div>
		   </div>
            }
	     </div>
	    </div>
        